<main class="container">
  <div class="compilation-info-container">
    <h3>SUBMISSÃO # 32115524</h3>

    <div class="compilation-data-container">
      <div class="compilation-data">
        <span class="label">Problema:</span>
        <span class="value">1000 - Hello World!</span>
      </div>

      <div class="compilation-data">
        <span class="label">Resposta:</span>
        <span class="value">Accepted</span>
      </div>

      <div class="compilation-data">
        <span class="label">Problema:</span>
        <span class="value">1000 - Hello World!</span>
      </div>

      <div class="compilation-data">
        <span class="label">Linguagem:</span>
        <span class="value">C++</span>
      </div>

      <div class="compilation-data">
        <span class="label">Tempo:</span>
        <span class="value">0.21s</span>
      </div>

      <div class="compilation-data">
        <span class="label">Tamanho:</span>
        <span class="value">90 bytes</span>
      </div>

      <div class="compilation-data">
        <span class="label">Memória:</span>
        <span class="value">-</span>
      </div>

      <div class="compilation-data">
        <span class="label">Submissão:</span>
        <span class="value">05/03/2023 14:36:43</span>
      </div>
    </div>
  </div>

  <div class="code-container">
    <h3>Código Fonte</h3>

    <div #editor class="editor"></div>
  </div>
</main>
