<main class="container">
  <div class="compilation-info-container">
    <h3>SUBMISSÃO # {{ submissionId }}</h3>

    <div class="compilation-data-container" *ngIf="!!submissionDetail">
      <div class="compilation-data">
        <span class="label">Problema:</span>
        <span class="value">{{ submissionDetail.problem.id }} - {{ submissionDetail.problem.title }}</span>
      </div>

      <div class="compilation-data">
        <span class="label">Resposta:</span>
        <span class="value"
          [ngStyle]="{ color: submissionDetail.status === 2 ? '#27ae60' : submissionDetail.status === 3 ? '#e74c3c' : '#2980b9', fontWeight: 'bold'  }">
          {{ statusText }}
          <div class="loading" *ngIf="isProcessing">
            <app-loading />
          </div>
        </span>
      </div>


      <div class=" compilation-data">
        <span class="label">Linguagem:</span>
        <span class="value">{{ submissionDetail.language }}</span>
      </div>

      <div class="compilation-data">
        <span class="label">Tempo:</span>
        <span class="value">{{ submissionDetail.compilation.time }}</span>
      </div>

      <div class="compilation-data">
        <span class="label">Tamanho:</span>
        <span class="value">{{ submissionDetail.compilation.size }} bytes</span>
      </div>

      <div class="compilation-data">
        <span class="label">Memória:</span>
        <span class="value">{{ submissionDetail.compilation.memory }} bytes</span>
      </div>

      <div class="compilation-data">
        <span class="label">Submissão:</span>
        <span class="value">05/03/2023 14:36:43</span>
      </div>
    </div>
  </div>

  <div class="code-container">
    <h3>Código Fonte</h3>

    <div #editor class="editor"></div>
  </div>
</main>
