<main>
  <aside class="problem-container">
    <div class="problem">
      <div class="description" [innerHTML]="descriptionText">
      </div>
      <h2>Entrada</h2>
      <div class="input">
        <p>{{ inputText }}</p>
      </div>
      <h2>Saída</h2>
      <div class="output">
        <p>{{ outputText }}</p>
      </div>
      <div class="both"></div>
      <table>
        <thead>
          <tr>
            <td>Exemplo de Entrada</td>
            <td>Exemplo de Saída</td>
          </tr>
        </thead>
      </table>
      <table *ngFor="let example of examples">
        <tbody>
          <tr>
            <td class="division">
              <p [innerHTML]="example.input"></p>
            </td>
            <td>
              <p [innerHTML]="example.expected_output"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </aside>

  <aside class="submission-container">
    <div class="select-container">
      <span class="label">Linguagem</span>
      <select>
        <option value="c">C</option>
        <option value="c">Java</option>
        <option value="c">C++</option>
        <option value="c">Javascript</option>
      </select>

    </div>

    <div #editor class="editor"></div>

    <div class="submission-footer">
      <div class="box-information">
        Construa a sua solução e envie!
      </div>

      <button>Enviar</button>
    </div>

  </aside>
</main>
