.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  .header {
    width: 100%;
    height: 48px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: fixed;
    z-index: 1001;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    .user-profile {
      display: flex;
      align-items: center;
      gap: 5px;

      font-size: .4rem !important;

      img {
        border-radius: 50%;
      }
    }
  }

  .content-container {
    width: 100%;
    height: 100%;

    z-index: 1000;

    margin-top: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 100%;
      max-width: 980px;
      //max-width: 1200px;
      min-height: 500px;

      display: flex;
      gap: 20px;
      padding: 30px;

      background-color: white;

      border-radius: 5px;

      .content-aside {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .user-profile {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .user-name {
            text-align: center;
            font-size: .5rem;
            font-weight: lighter;
          }

        }

        .user-info {
          font-size: .39rem;
          font-weight: lighter;
          color: #454545;

          display: flex;
          flex-direction: column;
          gap: 10px;

          padding: 10px;
          border: .2px solid #bbbbbb;
          border-radius: 2px;
        }

      }

      .content-main {
        width: 100%;

        .page-title {
          width: 100%;

          .page-title-container {
            width: 100%;
            padding: 10px;

            position: relative;

            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;

            .search-icon {
              height: 10px;
              width: 10px;
            }

            h1 {
              font-size: .6rem;

              text-transform: uppercase;
            }
          }


          font-family: 'BryantMedium';
          border: .2px solid #bbbbbb;

          margin-bottom: 10px;

          p {
            text-transform: uppercase;
            border-top: #bbb solid 1px;
            background: #f3f3f3;
            font-size: 0.3rem;
            padding: 8px 10px;
          }
        }
      }
    }
  }
}
