<router-outlet *ngIf="isLogin" />

<main *ngIf="!isLogin" class="container">
  <app-header></app-header>

  <div class="content-container">
    <div class="content" [ngStyle]="{ maxWidth: useFullWidth ? '1200px' : '986px' }">
      <app-profile *ngIf="!hideProfile"></app-profile>

      <div class="content-main">
        <div class="page-title">
          <div class="page-title-container">
            <div [ngStyle]="{ backgroundColor: color }" class="search-icon"></div>
            <h1 [ngStyle]="{ color }">
              {{ title }}
            </h1>

          </div>

          <p>
            {{ subTitle }}
          </p>
        </div>

        <!--<div class="table-container">
          <table class="table">
            <thead>
              <th class="left" class="id">#</th>
              <th class="left"></th>
              <th class="left">Nome</th>
            </thead>

            <tbody>
              <tr class="impar">
                <td class="id">123</td>
                <td>ok</td>
                <td>Soma simples</td>
              </tr>

              <tr class="par">
                <td class="id">123</td>
                <td class="tiny">ok</td>
                <td>Multiplicação simples</td>
              </tr>


              <tr class="impar">
                <td class="id">123</td>
                <td class="tiny">ok</td>
                <td>Multiplicação simples</td>
              </tr>
            </tbody>
          </table>

          <div class="paging-container">
            <div class="paging-total">
              14 of 70
            </div>

            <div class="paging-action-container">
              <button class="paging-action">
                Primeiro
              </button>

              <button class="paging-action">
                Anterior
              </button>

              <button class="paging-action">
                Próximo
              </button>

              <button class="paging-action">
                Último
              </button>
            </div>
          </div>
        </div>-->

        <router-outlet />

      </div>

    </div>
  </div>
</main>
