<router-outlet *ngIf="isLogin" />

<main *ngIf="!isLogin" class="container">
  <div class="header">
    <aside>
      <div class="user-profile">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocLgwHOkFA_zsvfQv7BoeKx_kAbuvFwyKSIqQvgy4vWWES69tqPt=s96-c"
          alt="" width="32">

        <div class="user-info">
          <span><b>Hi,</b> rluiz20</span>
          <br>
          <span class="user-email"><small>luizrafael&#64;gmail.com</small></span>
        </div>
      </div>

      <div class="header-action-container">
        <button (click)="goTo('categories')">
          Categorias
        </button>

        <button (click)="goTo('submissions')">
          Submissões
        </button>
      </div>

    </aside>

    <div class="logout" (click)="logout()">
      <img style="cursor: pointer;" src="assets/images/shutdown.png" width="30" alt="">
    </div>
  </div>

  <div class="content-container">
    <div class="content" [ngStyle]="{ maxWidth: useFullWidth ? '1200px' : '980px' }">
      <aside class="content-aside" *ngIf="!hideProfile">

        <div class="user-profile">
          <img src="https://lh3.googleusercontent.com/a/ACg8ocLgwHOkFA_zsvfQv7BoeKx_kAbuvFwyKSIqQvgy4vWWES69tqPt=s96-c"
            alt="" width="150">

          <span class="user-name">rluiz20</span>

        </div>


        <div class="user-info">
          <span>Entrou: 18/09/2025</span>
          <span>Resolvidos: 14</span>
          <span>Submissões: 19</span>
        </div>

      </aside>

      <div class="content-main">
        <div class="page-title">
          <div class="page-title-container">
            <div [ngStyle]="{ backgroundColor: color }" class="search-icon"></div>
            <h1 [ngStyle]="{ color }">
              {{ title }}
            </h1>

          </div>

          <p>
            {{ subtitle }}
          </p>
        </div>

        <!--<div class="table-container">
          <table class="table">
            <thead>
              <th class="left" class="id">#</th>
              <th class="left"></th>
              <th class="left">Nome</th>
            </thead>

            <tbody>
              <tr class="impar">
                <td class="id">123</td>
                <td>ok</td>
                <td>Soma simples</td>
              </tr>

              <tr class="par">
                <td class="id">123</td>
                <td class="tiny">ok</td>
                <td>Multiplicação simples</td>
              </tr>


              <tr class="impar">
                <td class="id">123</td>
                <td class="tiny">ok</td>
                <td>Multiplicação simples</td>
              </tr>
            </tbody>
          </table>

          <div class="paging-container">
            <div class="paging-total">
              14 of 70
            </div>

            <div class="paging-action-container">
              <button class="paging-action">
                Primeiro
              </button>

              <button class="paging-action">
                Anterior
              </button>

              <button class="paging-action">
                Próximo
              </button>

              <button class="paging-action">
                Último
              </button>
            </div>
          </div>
        </div>-->

        <router-outlet />

      </div>

    </div>
  </div>
</main>
