<main class="profile-container">
  <div class="profile-login-picture">
    <img [src]="user.avatar_url" alt="" width="150">

    <span class="user-login">{{ user.login }}</span>

  </div>

  <div class="user-info-container">
    <div>
      <img src="assets/images/door-open.svg" width="15" alt="" />
      <span>Entrou: {{ registerAt }}</span>
    </div>

    <div>
      <img src="assets/images/correct.svg" width="15" alt="" />
      <span>Resolvidos: {{ user.total_resolved }}</span>
    </div>

    <div>
      <img src="assets/images/gavel-solid-full.svg" width="15" alt="" />
      <span>Submissões: {{ user.total_submissions
        }}</span>
    </div>
  </div>
</main>
