<div class="table-container">
  <table class="table">
    <thead>
      <th *ngFor="let column of columns" [ngClass]="column.class">{{ column.title }}</th>
    </thead>

    <tbody>
      <tr (click)="dispatchRowClickEvent(row)" [ngClass]=" (i % 2 === 0) ? 'par' : 'impar'  "
        *ngFor="let row of chunks[page]; let i = index">
        <td *ngFor="let column of columns" [ngClass]="row[column.name].customClass">{{ row[column.name].data }} <img
            *ngIf="!!row[column.name].icon" [src]="row[column.name].icon?.url ?? ''"
            [width]="row[column.name].icon?.width ?? '10'" /></td>
      </tr>
    </tbody>
  </table>

  <div class="paging-container">
    <div class="paging-total">
      {{ page + 1 }} of {{ totalRecords }}
    </div>

    <div class="paging-action-container">
      <button (click)="handleFirstPage()" class="paging-action" [disabled]="page === 0">
        Primeiro
      </button>

      <button (click)="handlePreviousPage()" class="paging-action" [disabled]="page === 0">
        Anterior
      </button>

      <button (click)="handleNextPage()" class="paging-action" [disabled]="page >= pageCount">
        Próximo
      </button>

      <button (click)="handleLastPage()" class="paging-action" [disabled]="page >= pageCount">
        Último
      </button>
    </div>
  </div>
</div>
